.buy__price-cmb{
    margin: 20px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1D1D1B;
    width: 296px;
    max-width: 95%;
    height: 48px;
    background-color: transparent;
    border: 2px solid #1D1D1B;
}

@media screen and (min-width: 1024px){
    .buy__price-cmb {
        width: 192px;
    }
}