.info__compatibility-win{
    width: 16px;
    height: 16px;
    background-image: url('../../../images/windows.png');
    background-size: cover;
    display: block;
}
/* .info__compatibility-win::after {
    content: "";
    display: block;
    height: 100%;
    margin: 0 20px;
    border-right: 1px solid rgba(102, 102, 102, 0.4);
    align-self: center;
} */