.buy__price-cost{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px){
    .buy__price-cost{
        min-height: 100%;
    }
}
