.sticky-buy{
    display: none;
    flex-direction: row;
    margin: 0 auto;
    background: linear-gradient(317.5deg, rgba(0, 168, 142, 0.4) 66.18%, rgba(126, 255, 51, 0.4) 100%), #23D1AE;
    min-width: 320px;
    width: 89%;
    max-width: 500px;
    height: 67px;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    bottom: 2px;
    align-self: center;
}