.buy__price-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px){
    .buy__price-header{
        margin: 8px 0;
    }
}