.info__compatibility-title{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 13px;
}

@media screen and (min-width: 768px){
    .info__compatibility-title {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1024px){
    .info__compatibility-title {
        margin-bottom: 0;
    }
}

